@media ( max-width: 1200px )
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 590px
    .activities
        padding-bottom: 70px
        &-wrapper
            flex-wrap: wrap
    .card
        width: 45%
        margin-bottom: 20px

@media ( max-width: 992px )
    .container
        max-width: 760px

    .header
        &-top
            padding: 30px 0
            &__search
                margin: 0 auto

    .logo
        width: 132px
    .search
        &__input
            width: 340px

    .nav
        padding: 23px 0
        &-list
            font-size: 12px
            line-height: 15px
    .hotel
        &-grid
            flex-direction: column
            margin-bottom: 60px
            &__wrapper
                flex-direction: row
                justify-content: space-between
                margin-top: 30px
        &-slider
            width: 100%
    .newsletter
        &-wrapper
            padding: 92px 0
    .reviews
        padding-bottom: 60px
        &__title
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
        &-slider
            &__item
                max-width: 579px
        &__text
            max-width: 455px
    .footer
        &-wrapper
            grid-template-columns: repeat(6, minmax(min-content, 1fr))
            grid-gap: 60px 40px
        &__logo
            grid-row: 1/2
        &__social
            &-networks
                grid-area: 1/3/2/span 4
                align-self: center
        &__categories, &__additional, &__legal
            grid-row: 2/3
            grid-column: span 2
        &__contact
            &-details
                grid-row: 3/4
                grid-column: span 5
            &-us
                grid-row: 4/5
                grid-column: span 5
        &-bottom
            width: 100%
            &__text
                margin-left: 0
                margin-right: 0
@media ( max-width: 800px )
    @keyframes menu
        0%
            display: none
            height: 0
        100%
            display: block
            height: 100%
    @keyframes nav-list
        0%
            display: block
            opacity: 0
        100%
            display: block
            opacity: 1
    body
        padding-top: 74px
    .container
        max-width: 560px
    .header
        &_mobile
            &_fixed
                position: fixed
                left: 0
                right: 0
                top: 0
                z-index: 99
        &-top
            padding: 28px 0
            &__search, &__user
                &_mobile
                    &_hidden
                        display: none
                    &_visible
                        display: flex

        &__nav
            display: none
            position: fixed
            left: 0
            bottom: 0
            right: 0
            top: 74px
            &_mobile
                &_visible
                    animation: nav-list 500ms linear 0s 1 normal forwards
                    display: block
    .nav
        &-list
            padding-top: 31px
            flex-direction: column
            &__item:not(:last-child)
                margin-bottom: 20px
            &__item
                &_mobile
                    &_visible
                        display: flex
    .menu-btn
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 12px
        border: none
        background-color: $light
        padding: 0
        cursor: pointer
        &__line
            height: 2px
            width: 16px
            background-color: $text-color
            transform: rotate(0%)
            transition: transform 500ms 0s linear
        &_top_rotate
            position: absolute
            transform: rotate(45deg)
            top: 6px
            right: 0
        &_middle_hidden
            display: none
        &_bottom_rotate
            position: absolute
            transform: rotate(-45deg)
            top: 6px
            right: 0

    .search
        margin-top: 7px
        margin-bottom: 20px
        &__input
            max-width: 250px
    .user
        flex-direction: column
        &__name
            text-transform: capitalize
            color: $light
            margin-left: 0
            margin-top: 10px
            font-size: 14px
    .hotel
        &-text
            padding-top: 10px
        &-slider
            height: 350px
        &-grid
            &__wrapper
                flex-direction: column
                margin-top: 20px
        &-map
            width: 100%
    .booking
        min-width: 100%
        margin-bottom: 20px
    .newsletter
        &-wrapper
            max-width: 100%
            flex-direction: column
            align-items: flex-start
        &-title
            &__strong
                margin-bottom: 37px
    .reviews
        padding-bottom: 50px
        &__title
            width: 100%
            font-size: 18px
            line-height: 23px
            margin-bottom: 40px
        &-slider
            &__item
                padding: 0 31px 36px
            &__button
                top: 30px
                &--next
                    right: 45%
                    transform: translateX(-50%)
                    margin-right: -100px
                &--prev
                    left: 50%
                    transform: translateX(-50%)
                    margin-left: -100px
    .card
        width: 48%
    .footer
        &__input
            flex-basis: 100%
@media ( max-width: 576px )
    .container
        max-width: 90%
    .logo
        width: 100px
    .hotel
        &-text
            width: 100%
        &-info
            justify-content: space-between
            align-items: baseline
            &__stars
                flex-basis: auto
                margin-bottom: 10px
            &__offer
                order: -1
                margin-bottom: 10px
            &__name
                margin-right: 0
                flex-basis: 100%
        &-rating
            display: none
            background-color: $text-color
        &-slider
            height: 300px
    .newsletter
        &-wrapper
            padding: 76px 0 83px 0
        &-title
            font-size: 20px
            line-height: 25px
            &__strong
                font-size: 30px
                line-height: 38px
    .subscribe
        height: 50px
        &__button
            padding: 18px 18px
        &__input
            padding-left: 20px
    .reviews
        &__title
            max-width: 245px
        &-slider
            &__item
                &::after
                    display: none
                &::before
                    display: none
    .activities
        padding: 40px 0 60px
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 36px
    .card
        width: 100%
    .footer
        &-wrapper
            grid-template-columns: 1fr
            grid-gap: 30px 0
        &__logo
            grid-row: 1
        &__social
            &-networks
                grid-area: 2/1/3/1
        &__categories, &__additional, &__legal
            grid-column: 1
        &__categories
            grid-row: 3
        &__additional
            grid-row: 4
        &__legal
            grid-row: 5
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-us
                grid-row: 7
                grid-column: 1
                margin-bottom: 56px
        &-bottom
            &__item
                margin-right: 5px
@media ( max-width: 480px )
    .hotel
        &-slider
            height: 260px
    .subscribe
        width: 100%
    .footer
        padding: 70px 0 21px
        &__form
            flex-direction: column
            align-items: flex-start
            justify-content: start
        &__input
            width: 100%
            padding: 18px 23px
        &__button
            order: 1
        &__info
            margin-bottom: 15px
        &__contact-us
            margin-bottom: 30px
        &-bottom
            flex-direction: column
            &__text
                margin-bottom: 10px
@media ( max-width: 400px )
    .hotel
        &-slider
            height: 240px
