@media ( max-width: 1200px )
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 590px
    .packages
        &-wrapper
            grid-gap: 10px
            grid-template-rows: minmax(460px, min-content) minmax(460px, min-content)
        &-card
            height: 460px
            width: 310px
            &_big
                width: 630px
    .card
        width: 24%
    .footer
        padding: 72px 0 46px
        &-wrapper
            grid-template-columns: repeat(9, minmax(min-content, 1fr))
            grid-gap: 48px 15px
        &__logo
            width: 95px
            grid-row: 1
        &__social
            &-networks
                grid-area: 1/3/2/8
                align-items: center
        &__categories
            grid-area: 2/1/3/4
        &__additional
            grid-area: 2/3/3/7
            padding-left: 10px
        &__legal
            grid-area: 2/7/3/10
            padding-left: 10px
        &__contact
            &-details
                grid-area: 3/1/4/10
            &-us
                grid-area: 4/1/5/10
                margin-bottom: 55px
        &__form
            margin-top: 30px

@media ( min-width: 992px )
    .nav
        &-list
            &__item::after
                content: ""
                display: block
                height: 2px
                width: 0%
                background-color: $light
                transition: width 0.3s ease-in-out
            &__item:hover
                &:after
                    width: 100%
    .user__name::after
        content: ""
        display: block
        height: 2px
        width: 0%
        background-color: $text-color
        transition: width 0.3s ease-in-out
    .user__name:hover
        &:after
            width: 100%

    .footer
        &__link
            position: relative
        &__link::after
            position: absolute
            content: ""
            display: block
            height: 2px
            width: 0%
            left: 0
            background-color: $placeholder-color
            transition: width 0.3s ease-in-out
    .footer
        &__link:hover
            &:after
                width: 100%

    .booking, .packages-card, .subscribe, .card, .footer, .modal, .search
        &__button:hover
            background-color: darken($default-color, 15%)
            transition-duration: 0.2s

    .footer__social-networks .footer__link:after
        display: none

@media ( max-width: 992px )
    .container
        max-width: 700px
    .header
        &-top
            padding: 30px 0
            &__search
                margin: 0 3% 0 0
    .logo
        width: 132px
        &__img
            width: 132px
    .search
        &__input
            width: 340px
    .user
        &__name
            margin-left: 13px
    .nav
        padding: 23px 0
        &-list
            font-size: 12px
            line-height: 15px
            padding: 0 13px
            &__search
                margin: 0 auto

    .booking
        padding: 28px 21px
        min-width: 340px
    .hotel
        &-grid
            flex-direction: column
            margin-bottom: 60px
            &__map
                width: 340px
            &__wrapper
                flex-direction: row
                justify-content: space-between
                margin-top: 30px
        &-slider
            width: 100%
    .packages
        &-wrapper
            grid-template-columns: 1fr 1fr
            grid-template-rows: minmax(460px, min-content) minmax(460px, min-content) minmax(460px, min-content)
            grid-auto-rows: minmax(460px, min-content)
            grid-gap: 30px
        &-card
            width: 100%
            &_1
                grid-area: 1/1/2/3
            &_2
                grid-area: 2/1/3/2
            &_3
                grid-area: 2/2/3/3
            &_4
                grid-area: 3/1/4/2
            &_5
                grid-area: 3/2/4/3
    .newsletter
        padding: 92px 0
        &-info
            max-width: 100%
        &-wrapper
            max-width: 100%

    .reviews
        padding-bottom: 50px
        &-slider
            &__item
                padding: 0 59px 30px
                max-width: 579px
            &__button
                &--next
                    right: 0
                &--prev
                    left: 0
        &__title
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
        &__text
            max-width: 455px
    .activities
        padding-top: 50px
        padding-bottom: 50px
        &-wrapper
            flex-wrap: wrap
    .card
        width: 48%
        &:not(:last-child)
            margin-bottom: 20px
    .footer
        &-bottom
            width: 100%
            &__text
                margin-left: 0
                margin-right: 0
    .modal
        &__overlay
        &__form
            flex-direction: column
            align-items: flex-start
        &__button
            order: 1

// @media ( max-width: 768px )

@media ( max-width: 768px )
    @keyframes menu
        0%
            display: none
            height: 0
        100%
            display: block
            height: 100%
    @keyframes nav-list
        0%
            display: block
            opacity: 0
        100%
            display: block
            opacity: 1
    body
        padding-top: 70px
    .container
        max-width: 90%
    .header
        &_mobile
            &_fixed
                position: fixed
                left: 0
                right: 0
                top: 0
                z-index: 99
        &-top
            padding: 28px 0
            &__search, &__user
                &_mobile
                    &_hidden
                        display: none
                    &_visible
                        display: flex
        &__nav
            display: none
            position: fixed
            left: 0
            bottom: 0
            right: 0
            top: 70px
            overflow-y: scroll
            &_mobile
                &_visible
                    animation: nav-list 500ms linear 0s 1 normal forwards
                    display: block
    .nav
        &-list
            padding-top: 31px
            flex-direction: column
            &__item:not(:last-child)
                margin-bottom: 20px
            &__item
                &_mobile
                    &_visible
                        display: flex
            &__search, &__user
                &_mobile
                    &_hidden
                        display: none
                    &_visible
                        display: flex
    .menu-btn
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 12px
        border: none
        background-color: $light
        padding: 0
        cursor: pointer
        &__line
            height: 2px
            width: 16px
            background-color: $text-color
            transform: rotate(0%)
            transition: transform 500ms 0s linear
            &_top_rotate
                position: absolute
                transform: rotate(45deg)
                top: 6px
                right: 0
            &_middle_hidden
                display: none
            &_bottom_rotate
                position: absolute
                transform: rotate(-45deg)
                top: 6px
                right: 0

    .search
        margin-top: 7px
        margin-bottom: 20px
        &__input
            max-width: 250px
    .user
        flex-direction: column
        &__name
            text-transform: capitalize
            color: $light
            margin-left: 0
            margin-top: 10px
            font-size: 14px
    .logo
        width: 100px
        &__img
            width: 100px

    .hotel
        &-grid
            &__map
                width: 48%
    .booking
        min-width: 48%
    .footer
        &-wrapper
            grid-template-columns: 1fr
            grid-gap: 30px 0
        &__logo
            grid-row: 1
        &__social
            &-networks
                grid-area: 2/1/3/1
        &__categories, &__additional, &__legal
            grid-column: 1
            padding-left: 0
        &__categories
            grid-row: 5
        &__additional
            grid-row: 4
        &__legal
            grid-row: 3
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-us
                grid-row: 7
                grid-column: 1
                margin-bottom: 56px
        &-bottom
            &__item
                margin-right: 5px
        &__inputs
            flex-direction: column
            justify-content: start
        &__input
            &-wrap
                width: 100%
                margin-top: 15px
    .modal
        &__dialog
            width: 300px
            padding: 30px 40px
        &__input, &__message, &__info
            margin-top: 10px
@media ( max-width: 710px )
    .container
        max-width: 87%
    .header
        &-top
            padding: 26px 0
    .booking
        min-width: 100%
        margin-bottom: 20px
    .hotel
        &-text
            width: 100%
            padding: 9px 0 37px 0
        &-info
            justify-content: space-between
            align-items: baseline
            &__stars
                flex-basis: auto
                margin-bottom: 10px
            &__offer
                order: -1
                margin-bottom: 10px
            &__name
                margin-right: 0
                flex-basis: 100%
        &-rating
            display: none
            background-color: $text-color
        &-slider
            height: 345px
            &__button
                &_next
                    display: none
                &_prev
                    display: none
        &-grid
            margin-bottom: 40px
            &__wrapper
                flex-direction: column
                margin-top: 20px
            &__map
                width: 100%
                height: 172px

    .packages
        padding: 20px 0 35px
        &__title
            margin-bottom: 40px
            font-size: 24px
            line-height: 30px
        &-wrapper
            grid-template-columns: 1fr
            grid-template-rows: 625px 410px 410px 410px 410px
            grid-gap: 20px
        &-card
            max-width: 90%
            min-height: 500px
            justify-content: flex-start
            justify-self: center
            &_big
                min-height: 625px
                flex-direction: column
                width: 90%
            &__img
                max-height: 155px
                &_big
                    width: 100%
                    border-radius: 8px 8px 0px 0px
            &_1
                grid-area: 1/1/2/1
            &_2
                grid-area: 2/1/3/1
            &_3
                grid-area: 3/1/4/1
            &_4
                grid-area: 4/1/5/1
            &_5
                grid-area: 5/1/6/1
            &__content
                &_big
                    padding: 26px 21px
                    width: 100%
                    height: 460px
                    border-radius: 0px 0px 8px 8px
            &__old-price
                &_big
                    margin-bottom: 10px

    .newsletter
        padding: 76px 0 83px 0
        &-wrapper
            max-width: 100%
            flex-direction: column
            align-items: flex-start
        &-title
            font-size: 20px
            line-height: 25px
            margin-bottom: 37px
            &__strong
                font-size: 30px
                line-height: 50px

    .subscribe
        height: 50px
        &__button
            padding: 18px 18px
        &__input
            padding-left: 20px
    .reviews
        padding-bottom: 30px
        &__title
            max-width: 245px
            width: 100%
            font-size: 18px
            line-height: 23px
            margin-bottom: 40px
        &-slider
            &__item
                padding: 0 33px 36px
            &__button
                top: 30px
                &--next
                    right: 45%
                    transform: translateX(-50%)
                    margin-right: -100px
                &--prev
                    left: 50%
                    transform: translateX(-50%)
                    margin-left: -100px
            &__item
                &::after
                    display: none
                &::before
                    display: none
    .activities
        padding: 40px 0 60px
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 36px

    .footer
        &__title
            &_mb-0
                margin-bottom: 0
        &__form
            margin-top: 0
        &__contact-us
            padding-top: 15px
        &__button
            margin-top: 15px
            &-wrap
                flex-direction: column-reverse
                align-items: flex-start
                margin-top: 0
        &__img
            min-width: 27px
        &__info
            margin-top: 15px

@media ( max-width: 600px )
    .hotel
        &-slider
            height: 300px
    .packages
        &-card
            width: 100%
    .card
        width: 100%
    .footer
        padding: 70px 0 21px
        &__form
            flex-direction: column
            align-items: flex-start
            justify-content: start
        &__input
            width: 100%
            padding: 18px 23px
            &-wrap
                width: 100%
        &__contact-us
            margin-bottom: 30px
        &-bottom
            flex-direction: column
            &__text
                margin-bottom: 10px
@media ( max-width: 500px )
    .hotel
        &-slider
            height: 250px
@media ( max-width: 400px )
    .hotel
        &-slider
            height: 179px
    .packages
        &-card
            max-width: 100%
            &_big
                width: 100%
            &__button
                padding: 8px 12px

    .subscribe
        width: 100%
    .footer
        &__social
            &-networks
                display: flex
                flex-direction: column
                align-items: flex-start
            &-links
                margin-top: 22px
    .modal
        &__dialog
            width: 260px
            padding: 20px 30px
