@media ( max-width: 1200px )
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 590px
@media ( max-width: 992px )
    .container
        max-width: 760px

    .header
        &-top
            padding: 30px 0
            &__search
                margin: 0 auto

    .logo
        width: 132px
    .search
        &__input
            width: 340px

    .nav
        padding: 23px 0
        &-list
            font-size: 12px
            line-height: 15px
    .hotel
        &-grid
            flex-direction: column
            margin-bottom: 60px
            &__wrapper
                flex-direction: row
                justify-content: space-between
                margin-top: 30px
        &-slider
            width: 100%

@media ( max-width: 800px )
    .container
        max-width: 560px
    .header
        &-top
            padding: 28px 0
            &__search, &__user
                display: none

        &__nav
            display: none
    .menu-btn
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 12px
        border: none
        background-color: $light
        padding: 0
        cursor: pointer
        &__line
            height: 2px
            width: 16px
            background-color: $text-color
    .hotel
        &-text
            padding-top: 10px
        &-slider
            height: 350px
        &-grid
            &__wrapper
                flex-direction: column
                margin-top: 20px
        &-map
            width: 100%
    .booking
        min-width: 100%
        margin-bottom: 20px

@media ( max-width: 576px )
    .container
        max-width: 90%
    .logo
        width: 100px
    .hotel
        &-text
            width: 100%
        &-info
            justify-content: space-between
            align-items: baseline
            &__stars
                flex-basis: auto
                margin-bottom: 10px
            &__offer
                order: -1
                margin-bottom: 10px
            &__name
                margin-right: 0
                flex-basis: 100%
        &-rating
            display: none
            background-color: $text-color
        &-slider
            height: 300px
@media ( max-width: 480px )
    .hotel
        &-slider
            height: 260px
@media ( max-width: 400px )
    .hotel
        &-slider
            height: 240px
