@mixin slider-arrows
    position: absolute
    border: none
    background-color: transparent
    background-repeat: no-repeat
    background-position: center center
    cursor: pointer
@mixin default-button
    background-color: $default-color
    border: none
    cursor: pointer
    color: $light
