.hotel
    &-wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &-info
        display: flex
        flex-wrap: wrap
        align-items: center
        &__stars
            margin-bottom: 5px
            flex-basis: 100%
        &__name
            font-weight: bold
            font-size: 24px
            line-height: 30px
            margin: 0 14px 0 0
        &__offer
            font-weight: 600
            font-size: 10px
            line-height: 13px
            color: $light
            background-color: $default-color
            padding: 3px 9px
            border-radius: 3px
    &-stars
        display: flex
        line-height: 8px
        &__img:not(:last-child)
            margin-right: 2px

    &-text
        padding: 23px 0 20px 0
        &__description
            font-size: 12px
            line-height: 15px
            margin: 0
    &-rating
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        background-color: $default-color
        border-radius: 4px
        width: 65px
        height: 45px
        color: $light
        &__text
            font-weight: 600
            font-size: 8px
            line-height: 10px
        &__rate
            font-weight: bold
            font-size: 14px
            line-height: 18px
            &_little
                font-size: 10px
                line-height: 13px
    &-slider
        width: 728px
        height: 450px
        &__container
            position: relative
            height: 100%
        &__img
            width: 100%
            height: 100%
            border-radius: 8px
        &__slide
            &:after
                content: ''
                position: absolute
                width: 100%
                height: 100%
                top: 0
                right: 0
                left: 0
                bottom: 0
                border-radius: 8px
                background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
                z-index: 10
        &__button
            +slider-arrows
            top: 50%
            transform: translateY(-50%)
            height: 30px
            width: 30px
            z-index: 20
            padding: 0
            &_next
                right: 16px
                background-image: url(../img/arrow-next.svg)
            &_prev
                left: 19px
                background-image: url(../img/arrow-prev.svg)
    &-grid
        display: flex
        justify-content: space-between
        margin-bottom: 70px
        &__wrapper
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
        &__map
            width: 347px
            height: 213px
            border-radius: 10px
            overflow: hidden
            background-image: url(../img/map.jpg)
            background-repeat: no-repeat
            background-size: cover
            &-iframe
                width: 100%
                height: 100%

.booking
    background-color: $dark
    border-radius: 8px
    padding: 28px
    min-width: 350px
    font-family: $secondary-font
    color: $light
    &-wrapper
        display: flex
        justify-content: space-between
    &__price
        display: flex
        flex-direction: column
    &__price-text
        font-size: 10px
        line-height: 14px
    &__pricetag
        font-weight: 800
        font-size: 24px
        line-height: 33px
    &__per-room
        font-size: 12px
        line-height: 16px
    &__person-room
        font-size: 12px
        line-height: 16px
        margin-top: 4px
    &__guest
        margin-bottom: 8px
        align-items: center
        display: flex
    &__room
        align-items: center
        display: flex
    &__icon
        margin-right: 9px
        height: 14px
        width: 14px
    &__call-center
        display: flex
        justify-content: space-between
        margin-top: 7px
    &__text
        font-weight: 600
        font-size: 18px
        line-height: 25px
    &__call
        text-decoration: none
        color: inherit
        display: flex
        align-items: center
    &__number
        font-weight: 600
        font-size: 18px
        line-height: 25px
    &__button
        +default-button
        margin-top: 17px
        border-radius: 4px
        width: 100%
        font-weight: 600
        font-size: 14px
        line-height: 19px
        min-height: 45px
