.hotel
    &-wrapper
        display: flex
        justify-content: space-between
        align-items: center

    &-info
        display: flex
        flex-wrap: wrap
        align-items: center
        &__stars
            margin-bottom: 4px
            flex-basis: 100%
        &__name
            font-weight: bold
            font-size: 24px
            line-height: 30px
            margin: 0 14px 0 0
        &__offer
            font-weight: 600
            font-size: 10px
            line-height: 13px
            color: $light
            background-color: $default-color
            padding: 3px 9px
            border-radius: 3px
    &-text
        padding: 23px 0 20px 0
        &__description
            font-size: 12px
            line-height: 15px
            margin: 0
    &-rating
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        background-color: $default-color
        border-radius: 4px
        width: 65px
        height: 45px
        color: $light
        &__text
            font-weight: 600
            font-size: 8px
            line-height: 10px
        &__rate
            font-weight: bold
            font-size: 14px
            line-height: 18px
            &_little
                font-size: 10px
                line-height: 13px
.hotel-slider
    padding-bottom: 70px
.swiper
    &-container
        position: relative
        width: 728px
        height: 450px
        border-radius: 8px
        margin-left: 0
        margin-right: 0
    &-slide
        &__img
            width: 100%
            height: 100%
        &:after
            content: ''
            position: absolute
            width: 100%
            height: 100%
            top: 0
            right: 0
            left: 0
            bottom: 0
            background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
            z-index: 10
    &-button
        position: absolute
        top: 50%
        transform: translateY(-50%)
        height: 30px
        width: 30px
        border: none
        background-color: transparent
        background-repeat: no-repeat
        background-position: center center
        z-index: 20
        cursor: pointer
        &--next
            right: 0
            background-image: url(../../img/arrow-next.svg)
        &--prev
            background-image: url(../../img/arrow-prev.svg)
